.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(41, 39, 39, 0.644);
  }
  
  .post:hover .overlay {
    opacity: 1;
  }
  .post{
    position: relative;
    cursor: pointer;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .scroll-hide{
  overflow: auto;
  overflow-y: scroll;
  /* this will hide the scrollbar in mozilla based browsers */
  scrollbar-width: none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}

/* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
.scroll-hide::-webkit-scrollbar { 
  width: 0 !important;
  height: 0;
  display: none; 
}